

mat-card {
    transition: .7s ease all;
    background-color: #b4f6ad !important;
}

mat-card:hover {
    transform: scale(1.02);
}

.check, .delete{
    transition: .4s ease color;
    cursor: pointer;
}


.check:hover{
    color: #157347;
}

.delete:hover{
    color: darkred;
}