<div class="container aparecer mt-5">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="p-1 mb-4 aparecer" *ngFor="let tarea of tareas">
                <div class="row p-2">
                    <div class="col-md-6">
                        <h1 class="fs-4">{{tarea.titulo}}</h1>
                        <p class="fs-6">{{tarea.descripcion}}</p>
                        <h6>{{tarea.fechaCaducidad}}</h6>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-success" *ngFor="let numero of numeros" (click)="obtenerTareasPendientes(numero)">{{numero}}</button>
              </div>
        </div>
    </div>
</div>
