<div class="container aparecer">
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
            <mat-card class="mt-3">
                <h1 class="m-0 p2">Lista de tareas</h1>
            </mat-card>
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/cerrar-sesion.png" alt="" width="40px" class="mt-3" (click)="logout()">
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-md-12">
            <mat-card class="p-2">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-warning" routerLink="pendientes">Pendientes</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success"routerLink="completadas">Completadas</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger" routerLink="caducadas">Caducadas</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn hover" style="background-color: #d9f2cc;" routerLink="add"><mat-icon class="mat-18">add</mat-icon></button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<router-outlet></router-outlet>