mat-card{
    transition: .7s ease all;
    background-color: #f4b4b4!important;
}

mat-card:hover{
    transform: scale(1.02);
}

.delete{
    transition: .4s ease color;
    cursor: pointer;
}

.delete:hover{
    color: darkred;
}